# Python & Virtualenv
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Django & Databases
*.sqlite3
db.sqlite3
staticfiles/

# Environment Variables
.env
.env.local

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Vercel
.vercel/

# Documentation & Private Prompts
docs/
